{% extends 'layout/base.html' %} 
{% block title %}Products | create {% endblock title %} 
{% block content %}


<div class='product-create-container'>
<section class='main-products-create--home-container'>
    <section class='header-products-create--home-container'>
  <h3>Crear producto</h3>
</section>
<form class='form-products-create' method="POST" class="product_form" action="">
  {% csrf_token %} {{ product_form }}
  <input class="create-category_button" type="submit" value="Create" />
  <a class='create-category-link' href="{% url 'category_create' %}">create category</a> 
</form>
</section>


</div>


{% endblock content %}
